.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.title {
  font-family: 'Iceland', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
}
